@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

@font-face {
  font-family: "Dancing Script";
  src: url("/fronts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: #b82323;
  /* background: radial-gradient(#5a47ce, #232323 80%); */
  /* đây là chỗ để đổi background của trang web*/
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}
